<div class="container">
  <div class="row">
    <div class="col-md-5">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
   
    <div class="col-md-7">
        <div class="card card-primary">
            <div class= "card-body" *ngFor="let quote of quotes let i =index">

           <div class="list">
              <ul>
                  <li>{{quote.quote}} <br> - <span id="write">{{quote.author}}</span>  <br></li>
                </ul>
                    
                    <p  id="correct">This quote was published on {{quote.publishDate|date}}   </p><br>
                    <button  (click)='showDetails(i)' type="button" class="btn btn-info">Show Details</button>
                    <app-quote-details   *ngIf="quote.showPublisher" [quote]='quote' (isComplete)='deleteQuote
                    ($event,i)' (isPlus)='quotePlus($event,i)' (isMinus)='quoteMinus($event,i)'></app-quote-details>
           </div>
               
            </div>
          </div>
    </div>
    </div>
  </div>
 
