<div class="container">
  <div class="card card-primary">
    <div class= "card-body" *ngFor="let quote of quotes let i =index">
      <ul>
        <li  >{{quote.quote}} <br> - {{quote.author}}</li> <br>
        This quote was published on {{quote.publishDate|date}} <br>
        <button  (click)='showDetails(i)' type="button" class="btn btn-primary">Show Details</button>
        <app-quote-details   *ngIf="quote.showPublisher" [quote]='quote' (isComplete)='deleteQuote
        ($event,i)'></app-quote-details>
       
      </ul>
    </div>
  </div>
</div>
