<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="card card-primary">
    <div class= "card-body" *ngFor="let quote of quotes let i =index">
    
        {{quote.quote}} <br> - {{quote.author}} <br>
        This quote was published on {{quote.publishDate|date}} <br>
        <button  (click)='showDetails(i)' type="button" class="btn btn-primary">Show Details</button>
        <app-quote-details   *ngIf="quote.showPublisher" [quote]='quote' (isComplete)='deleteQuote
        ($event,i)' (isPlus)='quotePlus($event,i)' (isMinus)='quoteMinus($event,i)'></app-quote-details>
       
    </div>
  </div>
</div>
