/* You can add global styles to this file, and also import other style files */
.box{
    
    padding: 40px;
    box-sizing: border-box;
    width: 400px;
    box-shadow: 0 5px 10px rgba(
        0,0,0,.2 green, blue, alpha);
        background-color: #FAFAFA;
    /* display: none; */
    }
  .box h2{
      margin:0 0 40px;
      padding: 0;
      color:#E91E63;
        text-decoration: underline;
        font-family: 'Tangerine', cursive;
        font-size:100px;
  }
  .box input {
      padding: 10px 0;
      margin-bottom: 30px;
      border-top:none;
  }
  .box textarea{
     height: 80px;
     padding: 10px 0;
     margin-bottom: 40px; 
  }
  .box input,  .box textarea{
      width: 100%;
      box-sizing: border-box;
      box-shadow:none;
      border-bottom: 2px solid #999;
  }
 label{
    top:10px;
    left: 0;
    color:#00B8D4; 
    transition:.5s;
    font-size:44px;
    font-family: 'Tangerine', cursive;
    pointer-events: none;
    
 }
 label:hover{
     color:#039BE5;
 }
 body{
     margin: 0;
     padding: 0;
     background-image: url('https://images.pexels.com/photos/459791/pexels-photo-459791.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
     background-repeat: no-repeat;
     background-size: cover;

 }
 li{
     list-style: none;
     font-size:40px;
     font-family:'Tangerine', cursive;
   
 }
 
 .card{
     opacity:0.85;
 }
#write{
    font-size:25px;
    font-family: 'Great Vibes', cursive;
}
.list{
    background-color:#E0F7FA;
    border: 2px #00ACC1;
    border-bottom-left-radius: 30px;
}
.intro{
    background-color: #E0F7FA;
    width:100%;
    font-family:'Tangerine', cursive;
    font-size:5em;

}
#correct{
    font-family: 'Times New Roman', Times, serif;
    font-display: unset;
    font-size: 16px;
}
#up{
    color:red;
    font-size: 20px;
    margin-right: 20px;
    line-height: 10px;
    cursor: pointer;
}
#down{
    color:blue;
    font-size: 20px;
    margin-right: 20px;
    line-height: 10px;
    cursor: pointer;
}
#details{
    font-family: 'Playball', cursive;
    font-size: 24px;
    
}
.describe{
    background-color:#FAFAFA;
    font-size: 20px;
}
.card-body{
    border-radius: 50px;
}
