<div class="row">
    <form #quoteForm='ngForm'>
        <!-- Name Form -->
        <div class="fieldset">

        </div>
        <div class="form-group">
            <label for="name">Quote</label>
            <textarea type="text"  class="form-control" id="quote" rows="4"  [(ngModel)]="newQuote.quote" name="quote" #author="ngModel" required></textarea>
            
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-warning">
                <p> Quote is Required</p>
                
            </div>
        </div>
        <!-- Author Input -->
        <div class="form-group">
            <label for="Author">Author</label>
            <input class="form-control" id="Author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p> Author is Required</p>
                
            </div>
            
        </div>
        <!-- Publisher Input -->
        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type='text' id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" required >
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <p>Publisher  is Required</p>
                
            </div>
        </div>
                  <!-- Date Input -->
                  <div class="form-group">
                      <label for="datePublished">Date Published</label>
                      <input type='date' id="datePublished" [(ngModel)]="newQuote.publishDate" name="publishDate" #publishDate="ngModel" required >
                      <div [hidden]="publishDate.valid || publishDate.pristine" class="alert alert-danger">
                          <p> Complete Date is Required</p>
                          
                      </div>
                  </div>
        <button type="Submit" class="btn btn-success btn-lg">Add Goal</button>
    </form>
</div>
